# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
firebase.json
package-lock.json
package.json
.firebaserc
firebase-debug.log

#Folder
Rubbish
.debris
.firebase

#Windows tmp file
desktop.ini
